<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr-FR">
    <head>
        <title>Les aventures de Lily et Robby</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="margin: 0; padding: 0;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0"
               bgcolor="#b5e51d">
            <tr>
                <td style="padding: 8px 0 32px 0;">
                    <table width="640px" border="0" cellspacing="0" cellpadding="0"
                           bgcolor="#ffffff" color="black" align="center">
                        <tr>
                            <td bgcolor="#eaebe8" color="white" style="font-family: Arial, Helvetica, sans-serif; font-size: 24px;padding: 4px 12px">
                                Les aventures de Lily et Robby
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;padding: 4px 12px">
                                <p>Bonjour,</p>
							  	<p>A la demande générale, nous avons publié un tutoriel pour l'utilisation de l'application. Il est ici:</p>
                                <p><a href="https://www.uberalles.ch/tutorial/" target="_blank"  style="background-color: #b5e51d; font-family: Arial, Helvetica, sans-serif; font-size: 20px; padding: 4px 12px; text-decoration: none; color: black;">https://www.uberalles.ch/tutorial/</a></p>
                                <p>Bonne lecture, et bon chariotage</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
